* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.sound {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  border: 1px solid red;
}

.sound.sound--off {
  opacity: 0.5;
}
